body {
    background-image: url('https://tinyurl.com/3ftsnje3');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

    color:white;
}
h1, h2, h3 {
    font-family: 'Times New Roman', cursive;
    color:  white;
}
nav {
    height: 50px;
    flex: 100%;
    display: flex;
}
nav ul {
    padding: 0;
    list-style-type: none;
    flex: 2;
    display: flex;
}

nav li {
    display: inline;
    text-align: center;
    flex: 1;
}

nav a, nav span {
    display: inline-block;
    font-size: 2rem;
    height: 3rem;
    line-height: 1.7;
    text-transform: uppercase;
    text-decoration: none;
    color: white;

}
a:link {
    color: white;
}
a:visited {
    color: pink;
    text-decoration: none;
}
table, th, td {
    border: 1px solid black;
  }