body, html {
    margin: 0;
    padding: 0;
}

#background {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
}

#overlayLogo {
    position: fixed;
    width: 128px;
    height: 128px;
    top: 0px;
    left: 0px;
}

#overlayImage {
    position: fixed;
}
